.book-card {
  border-radius: 10px;
  border: 1px solid lightgray;

  .card-image {
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
