aside {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;

  form {
    border-radius: 20px;
    border: 1px solid lightgray;
  }

  input {
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    outline: none;
    width: 250px;
    padding: 5px;
  }
}

aside>div>div {
  border-radius: 20px;
  border: 1px solid black;
  max-width: 1200px;
}
