<aside class="vw-100 vh-100 position-fixed top-0 start-0 d-flex justify-content-center align-items-center" #modal
  (click)="closeModal($event)">
  <div class="px-2">
    <div
      class="bg-white p-5 d-flex flex-column justify-content-center align-items-center gap-3 text-center my-0 mx-auto">
      <h2 class="fs-2 fw-bold">Insert New Book:</h2>
      <form class="d-flex flex-column justify-content-center align-items-center gap-3 p-5" #f="ngForm"
        (ngSubmit)="addBook(f)">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <label for="title">Book Title:</label>
          <span class="text-danger" *ngIf="title.touched && title.invalid">*Required</span>
          <input type="text" name="title" id="title" placeholder="Title" required ngModel #title="ngModel">
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <label for="author-name">Author Name:</label>
          <span class="text-danger" *ngIf="authorName.touched && authorName.invalid">*Required</span>
          <input type="text" name="authorName" id="author-name" placeholder="Author Name:" required ngModel
            #authorName="ngModel">
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <label for="author-surname">Author Surname:</label>
          <span class="text-danger" *ngIf="authorSurname.touched && authorSurname.invalid">*Required</span>
          <input type="text" name="authorSurname" id="author-surname" placeholder="Author Surname:" required ngModel
            #authorSurname="ngModel">
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <label for="cover">Link to Cover Image:</label>
          <span class="text-danger" *ngIf="cover.touched && cover.invalid">*Required</span>
          <input type="text" name="cover" id="cover" placeholder="Cover Link:" required ngModel #cover="ngModel">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Add Book</button>
      </form>
    </div>
  </div>
</aside>
